<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    
  </system.web>

  <system.webServer>
    <staticContent>
      <remove fileExtension=".fnt" />
      <mimeMap fileExtension=".fnt" mimeType="application/font/opentype" />
    </staticContent>
  </system.webServer>
</configuration>